.home-bg {
  background-image: url(../../../../assets/img/main2.png);
  background-size: cover;
  height: 100vh;
}

.w-60 {
  width: 60vw;
}

.main-card {
  background-image: url(../../../../assets/img/pokeball.png);
  background-position: 50% 59%;
  background-size: 30%;
  background-repeat: no-repeat;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.pokemon-card {
  img {
    transition: 0.3s;
  }
  .stats {
    z-index: 2;
    transition: 0.3s;
  }
  .stats h3 {
    color: black;
    text-shadow: none;
  }
}

.pokemon-card:hover {
  img {
    transform: scale(1.1);
  }
}

.sides {
  width: 100%;
  height: 87.3%;
  top: 12.5%;
  z-index: 1;
  position: absolute;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 16px;
}
.left-side {
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
.right-side {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.pokemon-card:hover {
  cursor: pointer;
}

@media (max-width: 900px) {
  .main-card {
    margin-left: 20px !important;
    width: 90vw;
    height: 90vh !important;
  }
  .sides {
    top: 10.5%;
    height: 89.5%;
  }
}

@media (max-width: 470px) {
  .card-header h1 {
    font-size: 28px;
  }
  .sides {
    top: 10%;
    height: 90%;
  }
}

@media (max-width: 453px) {
  .card-header h1 {
    font-size: 25px;
  }
  .sides {
    top: 9%;
    height: 91%;
  }
}
