<div class="d-flex flex-wrap" *ngIf="pokemons.length > 0">
  <div
    class="pokemon-cards card text-light size-card ms-3 m-2"
    *ngFor="let pokemon of pokemons; let i = index"
  >
    <div class="card-header text-center" (click)="showDetails(i)">
      <h2>{{ pokemon.name.toUpperCase() }}</h2>
    </div>
    <div class="card-body d-flex justify-content-between">
      <section class="me-5 ms-3 d-flex flex-column justify-content-between">
        <div>
          <div
            class="container text-dark rounded-3 text-center shadow"
            ngClass="{{ pokemon.types[0].type.name }}"
          >
            <p class="m-2">{{ pokemon.types[0].type.name }}</p>
          </div>
          <div
            class="container text-dark rounded-3 text-center shadow"
            ngClass="{{ pokemon.types[1].type.name }}"
            *ngIf="pokemon.types[1]"
          >
            <p class="m-2">{{ pokemon.types[1].type.name }}</p>
          </div>
        </div>
        <img
          src="../../../../assets/img/fav-{{ pokemons[i].favorite }}.png"
          id="favorites"
          alt="Ícone de Favoritos"
          (click)="favoritePokemon(i)"
        />
      </section>
      <img
        [src]="pokemon.sprites.front_default"
        alt="Imagem do Pokémon {{ pokemon.name }}"
        class="ms-5"
      />
      <p class="card-text"></p>
    </div>
  </div>
</div>
